
<ul *ngIf="visualizza == true"  >
   <li *ngFor="let item of listaTodo">
         <label for="box"> {{item.title}} </label>
         <input
         type="checkbox" id="box"
         [checked]="item.completed"
         (change)="item.completed = !item.completed"/>
         <button class="red" (click)="elimina(item)" >elimina</button>
         <button class="yellow" (click)="modifica(item)" >modifica</button>
         <button class="green" (click)="modifica2(item)" >conferma</button>

            
      </li>


</ul>
   <div >
    <input type="text" [(ngModel)]="obj">
  
    <button class="blue" type="button" (click)="addList()" >Aggiungi</button>
  </div>

   <div class="container">
      <p>sezione per modificare il dato</p>
            <input type="text" [(ngModel)]="obj2">
   </div>
   <div *ngIf="visualizza == false">
      <h1>
          sto recuperando i task
      </h1>
  </div>

  